[defaults]
inventory = ./inventories/stage/hosts.yml
roles_path = ./roles
remote_user = marco
host_key_checking = True
private_key_file = ~/.ssh/ansible_key 
interpreter_python = auto_silent
log_path = ./logs/ansible.log

#forks = 2

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False


# Connexion
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PasswordAuthentication=no -o PreferredAuthentications=publickey
timeout = 30
pipelining = True
