

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubKeyAuthentication yes
X11Forwarding no 
MaxAuthTries {{ssh_MaxAuthTries}}
AllowUsers {{non_root_user}}
LogLevel {{ssh_LogLevel}}